html{
    background: linear-gradient(90deg, blue 0%, pink 100%);
    
}

h1{
    color:whitesmoke;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px whitesmoke;
    box-shadow: 1px 2px 3px black;
    border-radius: 1em;
}


nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
  background-image:url(./img/2.jpg) ;

}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
 
}
nav ul li a{
  text-decoration: none;
  color: white;
  
}

button{
    margin: auto;
    display: block;
}
.btn{
    background-color: transparent;
    border: 2px solid blueviolet;
    border-radius: 3cm;
    color: black;
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;

}

.btn:hover{
    color: whitesmoke;
    outline: 0;
}

.loc{
    box-shadow: 10px 5px 5px black;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

}
.loc:hover{
    box-shadow: 0 0 40px whitesmoke;
}



  
